/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    overflow: hidden;
    height: 100%;
  }
  
  /* Background and Main Page */
  .signup-page {
    font-family: Arial, sans-serif;
    color: black; /* Changed text color to black */
    height: 100vh;
    background: url('/assets/images/bg5.jpg') no-repeat center center fixed;
  background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  /* Header Styles */
  .header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  /* Logo Style */
  .logo {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
  }
  
  /* Signup Form Container */
  .signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .welcome-heading {
    font-size: 3rem;
    margin-bottom: 16px;
    color: #FFA500;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  .welcome-message {
    font-size: 1.5rem;
    margin-bottom: 24px;
    max-width: 30%; /* Limit width to prevent overflow */
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Signup Form */
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  /* Input Fields - Rounded Edges */
  .form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
  }
  
  /* Signup Button - Rounded Edges */
  .signup-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #ff69b4, #00bfff);
    color: #fff;
    border: 2px solid #ff69b4;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #45a049;
  }
  
  /* Signin Message */
  .signin-message {
    margin-top: 16px;
    font-size: 1rem;
  }
  
  .signin-message a {
    color: #0059ff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  