<app-header></app-header>

<main class="main-content">
    <div class="grid-container">
      <div class="room" (click)="navigateTo('mathematics')" style="background-image: url('https://img.freepik.com/premium-vector/girl-counting-numbers-board_1308-14794.jpg')">
        <h2 class="room-title">Mathematics</h2>
      </div>
      <div class="room" (click)="navigateTo('reading-writing')" style="background-image: url('https://www.shutterstock.com/image-vector/children-reading-book-nature-cartoon-600nw-2290492039.jpg')">
        <h2 class="room-title">Reading & Writing</h2>
      </div>
      <div class="room" (click)="navigateTo('communication')" style="background-image: url('https://www.shutterstock.com/image-vector/kids-having-dialogue-vector-communication-600nw-2343482271.jpg')">
        <h2 class="room-title">Communication</h2>
      </div>
    </div>
  </main>

<app-footer></app-footer>