<div class="page-background">
  <app-header></app-header>

  <main class="main-content">
    <div class="grid-container">
      <div class="room" (click)="navigateTo('mathematics')" style="background-image: url('/assets/images/math.png')">
        <h2 class="room-title">الرياضيات</h2>
      </div>
      <div class="room" (click)="navigateTo('arabic')" style="background-image: url('/assets/images/arabic.png')">
        <h2 class="room-title">العربية</h2>
      </div>
      <div class="room" (click)="navigateTo('french')" style="background-image: url('/assets/images/french.png')">
        <h2 class="room-title">الفرنسية</h2>
      </div>
      <div class="room" (click)="navigateTo('science')" style="background-image: url('/assets/images/science.png')">
        <h2 class="room-title">الإيقاظ العلمي</h2>
      </div>
      <div class="room" (click)="navigateTo('islamic-education')" style="background-image: url('/assets/images/islam.png')">
        <h2 class="room-title">التربية الاسلامية</h2>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
