<div class="page-background">
    <app-header></app-header>
  
    <main class="main-content">
      <div class="grid-container">
        <div class="room" (click)="navigateTo('arabiclesson1')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 1</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson2')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 2</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson3')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 3</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson4')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 4</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson5')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 5</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson6')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 6</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson7')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 7</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson8')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 8</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson9')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 9</h2>
        </div>
        <div class="room" (click)="navigateTo('arabiclesson10')" style="background-image: url('/assets/images/cloud.png')">
          <h2 class="room-title">الدرس 10</h2>
        </div>
      </div>
    </main>
  
    <app-footer></app-footer>
  </div>
  