<div class="landing-page">
    <header class="header">
      <div class="logo">واحة المعرفة</div>
    </header>
  
    <main class="main-content">
      <div class="text-section">
        <h1 class="heading">لنستمتع بالتّعلّم معا</h1>
        <p class="description">
      <div class="">
         .نمكّن كل طفل من خلال تطبيقنا التعليمي المبتكرالمصمم لتلبية احتياجات متنوعة، مثل عسر القراءة، عسر الكتابة، وعسر الحساب
      </div> 
       <br>
        <button (click)="navigateToLogin()" class="cta-button">
          ابدأ الآن
        </button>
      </div>
  
      <div class="image-section">
        <img src="https://images.stockcake.com/public/7/6/9/7699af89-75a7-4118-806f-4bb073d32de2_large/animated-classroom-scene-stockcake.jpg" alt="Educational illustration" class="illustration" />
      </div>
    </main>
  </div>