<div class="landing-page">
    <header class="header">
      <div class="logo">EduBloom</div>
    </header>
  
    <main class="main-content">
      <div class="text-section">
        <h1 class="heading">Let’s transform education together!</h1>
        <p class="description">
          Empower every child with our innovative learning app, tailored for diverse needs like dyslexia and dysgraphia.
        </p>
        <button (click)="navigateToLogin()" class="cta-button">
          Start now
        </button>
      </div>
  
      <div class="image-section">
        <img src="https://images.stockcake.com/public/7/6/9/7699af89-75a7-4118-806f-4bb073d32de2_large/animated-classroom-scene-stockcake.jpg" alt="Educational illustration" class="illustration" />
      </div>
    </main>
  </div>