<div class="landing-page">
  <header class="header">
    <div class="logo">دروسي</div>
  </header>

  <main class="main-content">
    <div class="text-section">
      <h1 class="heading">لنستمتع بالتّعلّم معا</h1>
      <p class="description">
        <div class="sub-description">
          .نمكّن كل طفل من خلال تطبيقنا التعليمي المبتكر المصمم لتلبية احتياجات متنوعة، مثل عسر القراءة، عسر الكتابة، وعسر الحساب
        </div> 
        <br>
        <button (click)="navigateToLogin()" class="cta-button">
          ابدأ الآن
        </button>
      
    </div>
  </main>
</div>
