<header class="header">
  <div class="logo" (click)="navigateToHome()">دروسي</div>
    <nav class="nav-links">
      <span class="nav-link" (click)="navigateToHome()">الرّئيسيّة</span>
      <span class="nav-link" (click)="navigateToProgress()">التقدم</span>
      <span class="nav-link" (click)="navigateToProfile()">ملفي الشخصي</span>
      <span class="nav-link" (click)="navigateToSettings()">الإعدادات</span>
      <span class="nav-link logout" (click)="logout()">تسجيل الخروج</span>
    </nav>
  </header>
  