<header class="header">
    <div class="logo" (click)="navigateToHome()">EduBloom</div>
    <nav class="nav-links">
      <span class="nav-link" (click)="navigateToHome()">Home</span>
      <span class="nav-link" (click)="navigateToProgress()">Progress</span>
      <span class="nav-link" (click)="navigateToProfile()">My Profile</span>
      <span class="nav-link" (click)="navigateToSettings()">Settings</span>
      <span class="nav-link logout" (click)="logout()">Log Out</span>
    </nav>
  </header>
  