<div class="login-page">
    <header class="header">
      <div class="logo">دروسي</div>
    </header>
  
    <main class="login-form-container">
      <h1 class="welcome-heading">
        🥳 <span class="gradient-text">مرحبا بك</span>
      </h1>
      <p class="welcome-message">
        .سجّل الدخول لمواصلة رحلتك والاستمتاع بتجربة تعلّم مصممة خصيصًا لك
      </p>
      <form class="login-form" (submit)="onSubmit()">
        <input type="email" placeholder="البريد الالكتروني" class="form-input" required />
        <input type="Password" placeholder="كلمة السر" class="form-input" required />
        <button type="submit" class="sign-in-button">تسجيل الدخول</button>
      </form>
      <p class="signup-message">
       ليس لديك حساب؟ <a (click)="navigateToSignUp()">إنشاء حساب</a>
      </p>
    </main>
  </div>
  