<div class="signup-page">
    <header class="header">
      <div class="logo">واحة المعرفة</div>
    </header>
  
    <main class="signup-form-container">
      <h1 class="welcome-heading"> 😊انضم الآن </h1>
      <p class="welcome-message">
        !أنشئ حسابك وانطلق في رحلة ممتعة مع أدوات تعليمية مصممة لك
      </p>
      <form class="signup-form" (submit)="onSignup()">
        <input type="text" placeholder="الاسم" class="form-input" required />
        <input type="text" placeholder="اللقب" class="form-input" required />
        <input type="email" placeholder="البريد الالكتروني" class="form-input" required />
        <input type="password" placeholder="كلمة السر" class="form-input" required />
        <button type="submit" class="signup-button">إتمام التسجيل</button>
      </form>
      <p class="signin-message">
        هل لديك حساب بالفعل؟ <a (click)="navigateToSignIn();">سجّل الدخول </a>
      </p>
    </main>
  </div>
  