<div class="signup-select-page">
    <header class="header">
      <div class="logo">دروسي</div>
    </header>
  
    <main class="signup-select-container">
      <h1 class="role-heading"> 🧐من أنتم؟</h1>
      <p class="role-message">
       هل أنت معلم يلهم العقول ويصنع المستقبل؟ أنشئ حسابك لتحصل على تجربة تعليمية مصممة لك
      </p>
      <div class="role-buttons-container">
        <button class="role-button teacher-button" (click)="navigateToTeacherSignup()">معلّم</button>
        <button class="role-button student-button" (click)="navigateToStudentSignup()">متعلّم</button>
      </div>
    </main>
  </div>
  