<div class="signup-select-page">
    <header class="header">
      <div class="logo">EduBloom</div>
    </header>
  
    <main class="signup-select-container">
      <h1 class="role-heading">Who are you? 🧐</h1>
      <p class="role-message">
        Are you a teacher shaping minds or a student ready to learn? Let's customize your experience.
      </p>
      <div class="role-buttons-container">
        <button class="role-button teacher-button" (click)="navigateToTeacherSignup()">Teacher</button>
        <button class="role-button student-button" (click)="navigateToStudentSignup()">Student</button>
      </div>
    </main>
  </div>
  